#root {
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
}

form {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.prompt {
  flex: 1;
  box-sizing: border-box;
}

button[type=submit] {
  height: 100%;
  aspect-ratio: 1;
  color: #1a1a1a;
  background-color: #fefefe;
}

.download-button {
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 2rem;
  bottom: 1rem;
  margin: inherit;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #1a1a1a;
}

main {
  padding: 50px 0;
  display: flex;
  gap: 50px;
  flex: 1;
}

textarea {
  resize: none;
  padding: 20px;
}

.editor {
  flex: 1;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  position: relative;
}

.markdown-container {
  flex: 1;
  border: 1px solid;
  border-color: rgb(118, 118, 118);
  position: relative;
  overflow-y: scroll;
  border-radius: 8px;
}

.markdown-output {
  height: 100%;
  padding: 0 20px;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 8px solid #858585;
  border-top: 8px solid #242424;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 1s linear infinite;
}
